html, body {
  height: 100%;
  }

body {
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  padding-top: 70px;
  padding-bottom: 70px;
  background:url(/MediaConch/images/bg.png);
}

#footer {
  margin-top: 40px;
}

.navbar {
  color: black;
  background-color: #64A8DD;
  margin-bottom: 0px;
}

.navbar a {
    color: black !important;
}

.navbar-default .navbar-nav>li>a:hover {
  background-color: white;
}

.navbar-brand img {
    display: inline;
}

.serif {
  font-family: Merriweather;
}

.headline {
  font-family: Merriweather;
  font-weight: 700;
  line-height: 1;
  font-size: 100px;
  padding-top: 200px;
}

.tagline {
  font-size: 30px;
  line-height: 1.4;
  padding-bottom: 140px;
}

.button-padding {
  padding-bottom: 160px;
}
