html, body {
  height: 100%;
  }

body {
  font-family: OpenSans;
  padding-top: 70px;
  padding-bottom: 70px;
}

#footer {
  margin-top: 40px;
}

.navbar {
  background-color: #64A8DD;
  margin-bottom: 0px;
}

.navbar a {
    color: black;
}

.serif {
  font-family: Merriweather;
}

.headline {
  font-family: Merriweather;
  font-weight: 700;
  line-height: 1;
  font-size: 100px;
  padding-top: 180px;
}

.tagline {
  font-size: 30px;
  line-height: 1.4;
  padding-bottom: 40px;
}

.button-padding {
  padding-bottom: 160px;
}