{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
{% include "FOSUserBundle:Registration:register_content.html.twig" %}

<p class="registration">Fields marked by asterisks (*) are required</p>
{% endblock fos_user_content %}
