<footer>
    <div class="navbar">
    <div class="container">
        <p></p>
        <p>
            &#169; <a href="//mediaarea.net">MediaArea.net</a> - MediaConch is part of <a href="http://www.preforma-project.eu/" target="_blank">PREFORMA</a> project co-funded by the <a href="http://europa.eu/" target="_blank">European Commission</a>
            <span class="pull-right">Licensing under <a href="https://www.mozilla.org/en-US/MPL/2.0/" target="_blank">MPL v2+</a> and <a href="http://www.gnu.org/licenses/gpl-3.0.html" target="_blank">GPL v3+</a></span>
        </p>
    </div>
  </div>
</footer>
