    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse-1">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand serif" href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/MediaConch-48x29.png" alt="🐚" title="MediaConch" /> <strong>MediaConch</strong></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="/"></a>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ site.baseurl }}/about.html">About</a></li>
                            <li><a href="{{ site.baseurl }}/team.html">Team</a></li>
                            <li><a href="{{ site.baseurl }}/community.html">Community</a></li>
                            <li><a href="{{ site.baseurl }}/contact.html">Contact</a></li>
                            <li><a href="{{ site.baseurl }}/blog.html">Blog</a></li>
                            <li><a href="{{ site.baseurl }}/newsletters.html">Newsletters</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Documentation <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ site.baseurl }}/documentation/About.html">About</a></li>
                            <li><a href="{{ site.baseurl }}/documentation/GettingStarted.html">Getting Started</a></li>
                            <li><a href="{{ site.baseurl }}/documentation/HowToUse.html">How to Use</a></li>
                            <li><a href="{{ site.baseurl }}/documentation/DataFormat.html">Data Format</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Software <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ site.baseurl }}/demo.html">Demo</a></li>
                            <li><a href="{{ site.baseurl }}/download.html">Download</a></li>
                            <li><a href="https://mediaarea.net/MediaConchOnline">MediaConchOnline</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

<header id="masthead">
  <div class="inner-wrap">
    <a href="{{ site.url }}/" class="site-title">{{ site.title }}</a>
    <nav role="navigation" class="menu top-menu">

    </nav>
  </div><!-- /.inner-wrap -->
</header><!-- /.masthead -->


