{% extends 'AppBundle:Default:base.html.twig' %}

{% block title %}
MediaConch Demo full file checker
{% endblock %}

{% block body %}
<h1>MediaConch Demo full file checker</h1>

<div>
{% if form %}
    {{ form(form) }}
{% endif %}
</div>

{% if checks %}
    <br />
    {{ include('AppBundle:Default:fileDetailChecker.html.twig', { 'checks': checks }) }}
{% endif %}

{% endblock %}
