{% extends 'AppBundle:Default:base.html.twig' %}

{% block title %}
MediaConch Demo multi files checker
{% endblock %}

{% block body %}
<h1>MediaConch Demo multi files checker</h1>
<div>
Policy list :
    <ul>
    {% for item in policyList %}
        <li><a href="{{ path('app_default_checkfiles', {'id': item.id}) }}">{{ item.name }}</a></li>
    {% endfor %}
    </ul>
</div>

{% if checks is iterable %}
    {{ include('AppBundle:Default:fileDetail.html.twig', { 'checks': checks }) }}
{% endif %}

{% endblock %}
