{% extends 'AppBundle:Default:base.html.twig' %}

{% block title %}
MediaConch Demo
{% endblock %}

{% block body %}
<h1>MediaConch Demo</h1>
<ul>
    <li><a href="{{ path('app_default_policy') }}">Policy management</a></li>
    <li><a href="{{ path('app_default_checkfiles') }}">Check files on server</a></li>
    <li><a href="{{ path('app_default_check') }}">Upload file (first megabyte) and check</a></li>
    <li><a href="{{ path('app_default_checkfullfile') }}">Upload file (full) and check</a></li>
</ul>
{% endblock %}
