.mc_header {
  width   : 600px;
  border: 1px white solid;
  background-color: #64A8DD;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.mc_header h1 {

}

#mc_implementation {
  width   : 600px;
  background-color: #F2F5F8;
  border: 1px white solid; # mayb
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

#mc_implementation h1  {
  border: 1px white solid;
  background-color: #64A8DD;
}

#mc_implementation table {
  width   : 600px;
}

#mc_implementation table td:first-child {
  background-color: #64A8DD;
  font-size: 18px;
  font-weight: 700;
  padding: 10px;
}

#mc_implementation table td:first-child {
  padding-left: 20px;
}

#mc_policy {
  width   : 600px;
  background-color: #F2F5F8;
  border: 1px white solid; # mayb
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

#mc_policy h1  {
  border: 1px white solid;
  background-color: #64A8DD;
}

#mc_policy table {
  width   : 600px;
}

#mc_policy table td:first-child {
  background-color: #64A8DD;
  font-size: 18px;
  font-weight: 700;
  padding: 10px;
}

#mc_policy table td:first-child {
  padding-left: 20px;
}