.mc_header {
  width   : 600px;
  border: 1px black solid;
  background-color: #64A8DD;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.mc_header h1, .mc_header h2, .mc_header div {
  text-align: center;
}

#mc_implementation {
  width   : 600px;
  background-color: #F2F5F8;
  border: 1px white solid;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

#mc_implementation h1  {
  border: 1px white solid;
  background-color: #64A8DD;
}

#mc_implementation table {
  border: 1px black solid;
  width   : 600px;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

#mc_implementation th {
  border-bottom: 1px black solid;
  text-align:left;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

#mc_implementation p {
  background-color: #64A8DD;
  font-size: 18px;
  font-weight: 700;
  padding: 10px;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

#mc_policy {
  width   : 600px;
  background-color: #F2F5F8;
  border: 1px white solid;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

#mc_policy h1  {
  border: 1px white solid;
  background-color: #64A8DD;
}

#mc_policy table {
  border: 1px black solid;
  width   : 600px;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

#mc_policy th {
  border-bottom: 1px black solid;
  text-align:left;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

#mc_policy p {
  background-color: #64A8DD;
  font-size: 18px;
  font-weight: 700;
  padding: 10px;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
