---
layout: default
---

<div class="row">

  <div class="col-lg-6 col-lg-offset-0">
    {{ content }}
  </div>
  <div class="col-lg-6 col-lg-offset-0">
<h1>All downloads</h1>

<table border="1">
<tr class="table-header">
    <th>Operating system</th>
    <td>Link</td>
</tr>
<tr>
    <th><a href="downloads/windows.html"><img src="images/Windows.png" width="288" height="76" alt="Microsoft Windows" title="Microsoft Windows"></a></th>
    <td><a href="downloads/windows.html">Official releases</a></td>
</tr>
<tr>
    <th><a href="downloads/mac_os.html"><img src="images/Mac_OS.png" width="250" height="100" alt="Mac OS" title="Mac OS"></a></th>
    <td><a href="downloads/mac_os.html">Official releases</a></td>
</tr>
<tr>
    <th><a href="downloads/debian.html"><img src="images/Debian.png" width="229" height="61" alt="Debian" title="Debian"></a></th>
    <td><a href="downloads/debian.html">Official releases</a></td>
</tr>
<tr>
    <th><a href="downloads/ubuntu.html"><img src="images/Ubuntu.png" width="304" height="79" alt="Ubuntu" title="Ubuntu"></a></th>
    <td><a href="downloads/ubuntu.html">Official releases</a></td>
</tr>
<tr>
    <th><a href="downloads/ubuntu.html"><img src="images/Linux_Mint.png" width="256" height="75" alt="Linux Mint" title="Linux Mint"></a></th>
    <td><a href="downloads/ubuntu.html">Official releases</a></td>
</tr>
<tr>
    <th><a href="downloads/rhel.html"><img src="images/RedHat.png" width="200" height="61" alt="RedHat Entreprise Linux" title="RedHat Entreprise Linux"></a></th>
    <td><a href="downloads/rhel.html">Official releases</a></td>
</tr>
<tr>
    <th><a href="downloads/centos.html"><img src="images/CentOS.png" width="271" height="60" alt="CentOS" title="CentOS"></a></th>
    <td><a href="downloads/centos.html">Official releases</a></td>
</tr>
<tr>
    <th><a href="downloads/fedora.html"><img src="images/Fedora.png" width="250" height="89" alt="Fedora" title="Fedora"></a></th>
    <td><a href="downloads/fedora.html">Official releases</a></td>
</tr>
<tr>
    <th>&nbsp;</th>
    <td>&nbsp;</td>
</tr>
<tr>
    <th colspan="2">Other deliverables are not yet ready, coming soon</th>
</tr>
<tr>
    <th>&nbsp;</th>
    <td>&nbsp;</td>
</tr>
<tr>
    <th><a xhref="/downloads"><img src="images/openSUSE.png" width="155" height="100" alt="openSUSE" title="openSUSE"></a></th>
    <td><a xhref="/downloads">Official releases</a></td>
</tr>
<tr>
    <th><a xhref="/downloads"><img src="images/Suse.png" width="165" height="100" alt="SLE" title="SUSE Linux Enterprise"></a></th>
    <td><a xhref="/downloads">official releases</a></td>
</tr>
<tr>
    <th><a xhref="/downloads">from source<br/>(for other distributions or/and CPU)</a></th>
    <td><a xhref="/downloads">official releases</a></td>
</tr>
</table>

</div>
</div> <!-- row -->